/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

.UploadDropzone {
  width: 100%;
  height: 100% !important;
  // border: 1px dashed #b0b0b0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #757575;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  .img-thumbnail {
    // height: 58px !important;
    width: 100% !important;
    object-fit: cover !important;
  }
}

.rmdp-input {
  padding: 10px !important;
  height: auto !important;
}

.pagination {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  float: right;
}
.pagination > li {
  gap: 10px;
  padding: 0 0.4rem;
}
.pagination > li a {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > li.previous a,
.pagination > li.next a,
.pagination > li.break a {
  border-color: transparent;
}
.pagination > li.active a {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  min-width: 32px;
}
.pagination > li.disabled a {
  color: grey;
}
.pagination > li.disable,
.pagination > li.disabled a {
  cursor: default;
}
